.Form {
  padding: 25px 50px;
  border-radius: 5px;
  max-width: 70%;
  margin: 30px auto;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  background: white;
}

.Form__title {
  font-size: 3.5em;
}

.Form__description {
  font-size: 1.5em;
  line-height: 1.5;
}

.Form__label {
  font-size: 1.2em;
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}

.Form__label--small {
  margin: 5px 0;
}

.Form__input {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  border: none;
  background: #E5E5E5;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}

.Form__input-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.Form__input-division {
  width: 49%;
}

.Form__radio {
  margin-right: 5px;
  cursor: pointer;
}

.Form__button {
  -webkit-box-sizing: initial;
          box-sizing: initial;
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  color: #F2F7F2;
  background: #43AA8B;
  border: none;
  letter-spacing: 3px;
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 2em;
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  outline: none;
  border-radius: 5px;
}

.Form__button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.Form__button:active {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

@media screen and (max-width: 768px) {
  .Form__button {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 540px) {
  .Form {
    font-size: 14px;
    padding: 10px;
    max-width: 100%;
  }
  .Form__button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}